.right-container {
  background-color: #181818; /* Spotify dark background */
  color: #b3b3b3; /* Spotify light text color */
  padding: 20px;
  border-radius: 10px; /* Slightly rounded corners */
  margin-top: 80px; /* Adjust as needed for spacing */
  width: 300px; /* Adjust width as needed */
}

.search-filter .section-title {
  color: #fff; /* White for the title */
  font-size: 1.2em;
  margin-bottom: 15px;
}

.search-filter .form-group {
  margin-bottom: 20px;
}

.search-filter label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 8px;
  color: #b3b3b3;
}

.search-filter input[type="text"],
.search-filter input[type="date"] {
  width: calc(100% - 16px); /* Adjust for padding and border */
  padding: 10px;
  border: 1px solid #282828; /* Darker border */
  border-radius: 5px;
  background-color: #282828; /* Dark input background */
  color: #fff;
  font-size: 0.9em;
}

.search-filter input[type="text"]::placeholder,
.search-filter input[type="date"]::placeholder {
  color: #535353; /* Darker placeholder text */
}

.search-filter input[type="date"] {
  /* You might want to style the date input specifically if needed */
}

.search-filter .search-button {
  background-color: #1db954; /* Spotify green */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-filter .search-button:hover {
  background-color: #1ed760; /* Slightly brighter green on hover */
}

.navbar form {
  display: inline-block;
  margin: 0;
}